*~
*.swp
INSTALL
.deps/
.libs/
test/
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
Makefile
Makefile.in
missing
*.lo
*.o
/libagtype.la
